.article-img-size{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0vh;
    object-fit: fill;
}

.article-text-position{
    height:100%;
    width:100%;
    position: absolute;
    top: 0%;
    left:0;
    z-index:1000;
    background-color:rgb(0,0,0,0.55);
}

.daily-new-container{
    position: relative;
    text-align: center;
    width:100%;
    color: #fff;  
    
}

.link{
    height:50%;
    top:50%;
}

@media screen and (min-width:350px) and (max-width:600px){
    .article-text-position{
        height:100%;
        position: absolute;
        top: 0%;
        left:0;
        font-size: 40px;
        z-index:1000;
        background-color:rgb(0,0,0,0.55);
    }
    .daily-new-container{
        position: relative;
        text-align: center;
        width:100%;
        margin-top:0;
        color: #fff;  
        
    }
}

@media screen and (min-width:768px) and (min-height:1024px){
    .daily-new-container{
        position: relative;
        text-align: center;
        width:100%;
        margin-top:0;
        color: #fff;  
        
    }
    .article-img-size{
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 0vh;
    }
    .article-text-position{
        height:100%;
        position: absolute;
        top: 0%;
        left:0;
        z-index:1000;
        font-size: 50px;
        width:100%;
        background-color:rgb(0,0,0,0.55);
    }
}

@media screen and (min-width:530px) and (max-width:750px){
    .article-text-position{
        height:100%;
        position: absolute;
        top: 0;
        left:0;
        z-index:1000;
        width:100vw;
        background-color:rgb(0,0,0,0.55);
    }
}

